@model IEnumerable<Cow>

<h1>Cows</h1>
@if (Model == null)
{
	<h2>No movies provided</h2>
}
else
{
	@if (ViewBag.page != null)
	{
		<h3>Page: @ViewBag.page</h3>
	}
	<div style="display:flex; flex-direction: row; flex-wrap: wrap; justify-content: center">
		@foreach (Cow game in Model)
		{
			<partial name="_CowPartialView.cshtml" for="@game" />
		}
	</div>
}