@{
    ViewData["Title"] = "VL Games Library";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a website to store a <a asp-controller="Game" asp-action="Library">list of your games</a> on. You can also include if you are loaning the game out to a friend.</p>
</div>