@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"] Me</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <p>
                I was born and raised in Cerritos, California. I currently go to Neumont College of Computer Science.
                I have been programming for over 6 years and have been gaming for at least twice as long. Some of my other
                hobbies include baking, 3D modeling, and yoga. I am a cisgender homosexual male and I use he/him pronouns.
                I have a sister, mom, and a dad. My family is jewish. My favorite food is chicken prepared in almost any way.
                My favorite color is navy blue. I am more of a cat person than a dog person. I play and enjoy way too many games
                to determine a favorite so please dont ask.
            </p>
        </div>
        <div class="col">
            <img src="/images/Me.JPG" width="464" height="618"/>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="/images/Gaming.jpg" />
        </div>
    </div>
</div>
