@{
    ViewData["Title"] = "Before";
}
<h1>What I Was Like @ViewData["Title"] Neumont</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <p>
                Before coming to Neumont, I was a little more shy and reserved. I was actually eating more unhealthily
                than I am now. I certainly had more freetime before I went to Neumont so I was gaming a lot more than 
                I am now. I was able to bake a lot more than I used to.
            </p>
        </div>
        <div class="col">
            <img src="/images/Baking.jpg" width="500" height="333"/>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="/images/Health.jpg" width="440" height="309"/>
        </div>
        <div class="col">
            <p>
            As might be expected I was also a lot less educated than I am now. My overall mental health was worse.
            I had less empathy for the people around me but I believe that that changed more from me getting older.
        </p>
        </div>
    </div>
</div>