@{
    ViewData["Title"] = "Future";
}
<h1>@ViewData["Title"] Career</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <p>
                My dream future career is to be working at a AA studio for game engines. I really like working on the integration of
                back end and front end for game programming. I still want to work in games even if I dont get into my dream job.
                I would be fine to work on a game engine such as Unity or Unreal or even developing my own engine for people to use.
            </p>
        </div>
        <div class="col">
            <img src="/images/GameEngine.jpg" width="640" height="400" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                Absolute last resort for me would be to work on other software because it is a similar skillset from what I 
                already know about game engines. I would much rather work in gaming becuase I think that it is such an interesting 
                art medium. I think that working on other software would be holding back my creative side.
            </p>
        </div>
        <div class="col">
            <img src="/images/SoftwareDevelopment.jpg" width="530" height="353"/>
        </div>
    </div>
</div>



