@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a asp-controller="Home" asp-action="Counter" asp-fragment="owo">count</a>
    <form asp-controller="Movie" asp-action="ParamTest" method="post">
        Enter a number <input name="id" />
        <button type="submit">Submit</button>
    </form>

    <form action="/Home/ParamTest/2?id=3" method="post">
        Enter a number: <input name="id" />
        <button type="submit">Submit</button>
    </form>
</div>
