@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<form asp-controller="Home" asp-action="Output" method="post">
		<div class="row">
			<div class="col-6">
				<label for="Adjective01">Adjective:</label>
				<input id="Adjective01" type="text" name="Adjective01" placeholder="Adjective" />
				<br />
				<br />
				<label for="Place01">Place:</label>
				<input id="Place01" type="text" name="Place01" placeholder="Place" />
				<br />
				<br />
				<label for="Adjective02">Adjective:</label>
				<input id="Adjective02" type="text" name="Adjective02" placeholder="Adjective" />
				<br />
				<br />
				<label for="Adjective04">Adjective:</label>
				<input id="Adjective04" type="text" name="Adjective04" placeholder="Adjective" />
				<br />
				<br />
				<label for="SongTitle01">Song Title:</label>
				<input id="SongTitle01" type="text" name="SongTitle01" placeholder="Song Title" />
				<br />
				<br />
				<label for="Adjective06">Adjective:</label>
				<input id="Adjective06" type="text" name="Adjective06" placeholder="Adjective" />
				<br />
				<br />
				<label for="Noun02">Noun:</label>
				<input id="Noun02" type="text" name="Noun02" placeholder="Noun" />
				<br />
				<br />
				<label for="PastTenseVerb02">Past Tense Verb:</label>
				<input id="PastTenseVerb02" type="text" name="PastTenseVerb02" placeholder="Past Tense Verb" />
				<br />
				<br />
				<label for="Noun04">Noun:</label>
				<input id="Noun04" type="text" name="Noun04" placeholder="Noun" />
				<br />
				<br />
				<label for="Verb01">Verb:</label>
				<input id="Verb01" type="text" name="Verb01" placeholder="Verb" />
				<br />
				<br />
				<label for="Verb03">Verb:</label>
				<input id="Verb03" type="text" name="Verb03" placeholder="Verb" />
			</div>
			<div class="col-6">
				<label for="Noun01">Noun:</label>
				<input id="Noun01" type="text" name="Noun01" placeholder="Noun" />
				<br />
				<br />
				<label for="Clothing01">Article of Clothing:</label>
				<input id="Clothing01" type="text" name="Clothing01" placeholder="Clothing" />
				<br />
				<br />
				<label for="Adjective03">Adjective:</label>
				<input id="Adjective03" type="text" name="Adjective03" placeholder="Adjective" />
				<br />
				<br />
				<label for="Adjective05">Adjective:</label>
				<input id="Adjective05" type="text" name="Adjective05" placeholder="Adjective" />
				<br />
				<br />
				<label for="Food01">Food:</label>
				<input id="Food01" type="text" name="Food01" placeholder="Food" />
				<br />
				<br />
				<label for="PastTenseVerb01">Past Tense Verb:</label>
				<input id="PastTenseVerb01" type="text" name="PastTenseVerb01" placeholder="Past Tense Verb" />
				<br />
				<br />
				<label for="Noun03">Noun:</label>
				<input id="Noun03" type="text" name="Noun03" placeholder="Noun" />
				<br />
				<br />
				<label for="PastTenseVerb03">Past Tense Verb:</label>
				<input id="PastTenseVerb03" type="text" name="PastTenseVerb03" placeholder="Past Tense Verb" />
				<br />
				<br />
				<label for="Noun05">Noun:</label>
				<input id="Noun05" type="text" name="Noun05" placeholder="Noun" />
				<br />
				<br />
				<label for="Verb02">Verb:</label>
				<input id="Verb02" type="text" name="Verb02" placeholder="Verb" />
				<br />
				<br />
				<label for="Adjective07">Adjective:</label>
				<input id="Adjective07" type="text" name="Adjective07" placeholder="Adjective" />
			</div>
		</div>
		<div class="row">
			<button type="submit">Submit</button>
		</div>
	</form>
</div>
